<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.87.0" targetFramework="native" />
  <package id="boost_zlib-vc142" version="1.87.0" targetFramework="native" />
  <package id="libzip" version="1.1.2.7" targetFramework="native" />
  <package id="libzip.redist" version="1.1.2.7" targetFramework="native" />
  <package id="OpenCV" version="2.4.11" targetFramework="native" />
  <package id="OpenCvSharp4.Windows" version="4.11.0.20250507" targetFramework="native" />
  <package id="Xamarin.LibZipSharp" version="3.3.0" targetFramework="native" />
  <package id="zlib-1.2.11-winsoft666" version="1.0.0.3" targetFramework="native" />
  <package id="zlib-vc140-static-64" version="1.2.11" targetFramework="native" />
</packages>